[package]
name = "herodotus_eth_starknet"
version = "0.1.0"
authors = ["Herodotus Dev"]

[[target.starknet-contract]]
sierra = true
casm = true

# See more keys and their definitions at https://docs.swmansion.com/scarb/docs/reference/manifest

[dependencies]
starknet = "2.2.0"
cairo_lib = { git = "https://github.com/HerodotusDev/cairo-lib.git" }
snforge_std = { git = "https://github.com/foundry-rs/starknet-foundry.git", tag = "v0.4.1" }

[tool.snforge]
exit_first = true

# Default profile
[tool.sncast]
account = "herodotus"
network = "testnet"
url = "https://starknet-testnet.public.blastapi.io"
